---
pagination:
  data: collections.pagedAuthorPosts
  size: 1
  alias: category
permalink: authors/{{ category.slug }}/index.html

pageID: authorPosts
layout: base.njk
---

{% set myAuthor = authors | getAuthor(category.title) %}

<h1>{{ myAuthor.name }}</h1>

<p>
  {{ myAuthor.bio }}
</p>

{% for post in category.items %}
{% include "partials/posts.njk" %}
{% endfor %}

<br>

{% set paged = category.pageSlugs %}
{% set nestedPagination = true %}
{% set authorPagination = true %}
{% include "partials/paginator.njk" %}