<a href="{{ post.url }}"><h2>{{ post.data.title or "No title provided." }}</h2></a>

{# Show authors if there are any #}
{% if post.data.author %}

    {# Will convert a single author into an array so it can be parsed the same as multiple authors. #}
    {% set postAuthors = post.data.author | makeArray %}

    {# Loops through each author #}
    {% for a in postAuthors %}
        {% set myAuthor = authors | getAuthor(a) %}
        {# Frontend code to show author: #}
        <a href="/authors/{{ myAuthor.key }}/">{{ myAuthor.name }}</a>
    {% endfor %}

{% endif %}

<p>
    {{ post.data.desc or "No description provided." }}
</p>

<div>
    <a href="{{ post.url }}">Read More</a>
</div>