---
layout: base.njk
---

<h1>{{ title or "No title provided." }}</h1>

{# Show authors if there are any #}
{% if author %}

	{# Will convert a single author into an array so it can be parsed the same as multiple authors. #}
	{% set postAuthors = author | makeArray %}

	{# Loops through each author #}
	{% for a in postAuthors %}
		{% set myAuthor = authors | getAuthor(a) %}
		{# Frontend code to show author: #}
		<a href="/authors/{{ myAuthor.key }}/">{{ myAuthor.name }}</a>
	{% endfor %}

{% endif %}

<article>
	{{ content | safe }}
</article>

<a href="/posts/">Back To The Archive</a>