---
title: Posts

pagination:
  data: collections.posts
  size: 3
  alias: posts
permalink: "posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"

layout: base.njk
---

<h1>Archive</h1>

{% for post in posts %}
{% include "partials/posts.njk" %}
{% endfor %}

<br>

{% set paged = pagination.href %}
{% set nestedPagination = false %}
{% include "partials/paginator.njk" %}